/* style.css */

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 5px;
  }
  
  p {
    font-size: 0.8em;
    color: #888;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .contact-info ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .education li {
    margin-bottom: 15px;
  }
  
  .education h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
  }

  .flex-container {
    display: flex;
    align-items: center;
  }

  .contact-info img{
    width:70%;
    height: auto;
    margin-right: 10px;
  }